* {
    color:#ffffff;
    background-color:#1F2937;
    font-family:Arial, Helvetica, sans-serif;
    
}


body {
    margin-left:10%;
    margin-right:10%;
    
}

/* Navigation */

header, nav, h2, ul{
    display:flex;
    justify-content:space-between;
    
    
}

section:nth-child(1) {
    display:flex;
    justify-content:space-between;
    margin-top:75px;
    border:red 1px solid;
}

section:nth-child(1) > div:nth-child(1){
    padding-right:50px;
    text-align:left;
    text-overflow:ellipsis
}

section:nth-child(1) > div:nth-child(2) {
    width:50%;
    height:250px;
    background-color:grey;
    
}

section:nth-child(1) > div > h1 {
    font-size:36px;
    border:red 1px solid;
    
}

.sign-up {
    font-size:16px;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:20px;
    padding-right:20px;
    border:0px solid;
    background-color:lightskyblue;
    border-radius: 8px;
}

/* Information */

section:nth-child(2) {
    margin-top:75px;
    background-color:
    
    
}

section:nth-child(2) > h1 {
    font-size:28px;
    margin:0 auto;
    width: 100%;
    text-align:center;
    
}

section:nth-child(2) > .container {
    margin-top:50px;
    display:flex;
    justify-content:space-evenly;
    border:red 1px solid;
}

section:nth-child(2) > .container > div {
    border:red 1px solid;
}

.placeholder {
    display:flex;
    width:150px;
    height:150px;
    border-radius:8px;
    background-color:lightblue;
    
}


