* {
    color:#ffffff;
    background-color:#1F2937;
    font-family:Arial, Helvetica, sans-serif;
    
}


body {
    margin-left:10%;
    margin-right:10%;
    
}


/* navigation */

header, nav, h2, ul{
    display:flex;
    justify-content:space-between;
    
    
}

section:nth-child(1) {
    display:flex;
    justify-content:space-between;
    margin-top:75px;
    
}

section:nth-child(1) > div:nth-child(1){
    padding-right:50px;
    text-align:left;
    text-overflow:ellipsis
}

section:nth-child(1) > div:nth-child(2) {
    width:50%;
    height:250px;
    background-color:grey;
    
}

section:nth-child(1) > div > h1 {
    font-size:36px;
   
    
}

.sign-up {
    font-size:16px;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:25px;
    padding-right:25px;
    border:0px solid;
    background-color:lightskyblue;
    border-radius: 8px;
}


/* information */

section:nth-child(2) {
    margin-top:75px;
    background-color:
    
    
}

section:nth-child(2) > h1 {
    font-size:28px;
    margin:0 auto;
    width: 100%;
    font-weight:bold;
    text-align:center;
    
}

section:nth-child(2) > .container {
    margin-top:50px;
    display:flex;
    justify-content:space-evenly;
}

section:nth-child(2) > .container > div {
    /*TODO*/
}

.placeholder {
    display:flex;
    width:150px;
    height:150px;
    border-radius:8px;
    background-color:lightblue;
    
}


/* testimony */

section:nth-child(3){
    margin-top:200px;
    margin-bottom:200px;
}

section:nth-child(3) > p:nth-child(1) {
    font-size:36px;
    font-style: italic;
    text-align:left;
    margin-left:10%;
    margin-right:3%;
}

section:nth-child(3) > p:nth-child(2) {
    font-size:36px;
    font-style: italic;
    text-align:right;
    
}

/* call to action */

section:nth-child(4) {
    display:flex;
    justify-content: space-around;
    background-color:#3882F6;
    border-radius:8px;
    padding-top:20px;
    padding-bottom:20px;
    margin-bottom:100px;


}

.call-to-action, .call-to-action > h3, .call-to-action > p {
    background-color:#3882F6;

}

section:nth-child(4) > button {
    padding-left:50px;
    padding-right:50px;
    height:50px;
    margin:auto 0;
}

/* footer */

footer {
    margin-top:30px;
    margin-bottom:30px;
    font-size:12px;
    text-align:center;

}




