* {
    color:#151D35;
    background-color:#F3F4F4;
    font-family:Arial, Helvetica, sans-serif;
    
}


body {
    margin-left:10%;
    margin-right:10%;
    
}


/* navigation */

header {
    margin-top:25px;
}

header, nav, img, ul{
    display:flex;
    color:#8B9498;
    justify-content:space-between;
    
    
}

ul:hover {
    color:#1682E7;
    transition-duration: 0.25s;
}

header > img {
    width:18%;
    margin:auto 0;
}

/* latest research */

section:nth-child(1) {
    display:flex;
    justify-content:space-between;
    margin-top:75px;
    
}

section:nth-child(1) > div:nth-child(1){
    padding-right:50px;
    text-align:left;
    text-overflow:ellipsis;
    
}

section:nth-child(1) > div:nth-child(1) > p {
    color:#8B9498;
}

section:nth-child(1) > div:nth-child(2) {
    width:50%;
    height: 350px;
    display:flex;
    justify-content: flex-end;
    align-content: center;
    
    
    
    
}

ection:nth-child(1) > div:nth-child(2) > img {
    width:fit-content;
    height:fit-content;
    
    
    
}

section:nth-child(1) > div > h1 {
    font-size:36px;
   
    
}

.read-me {
    font-size:16px;
    padding-top:15px;
    padding-bottom:15px;
    padding-left:25px;
    padding-right:25px;
    border:1px solid #90A7AA;
    border-radius: 8px;
    color:#90A7AA;
}
.read-me:hover {
    transition-duration: 0.25s;
    background-color:#90A7AA;
    color:#F3F4F4;
}

/* information */


section:nth-child(2) {
    margin-top:75px;
    background-color;
    display:flex;
    flex-direction:column;
    
    
    
}

section:nth-child(2) > h1 {
    font-size:28px;
    width: 100%;
    font-weight:bold;
    text-align:center;
    
}

section:nth-child(2) > .container {
    margin-top:50px;
    display:flex;
    justify-content:space-evenly;
}

section:nth-child(2) > .container > div {
    
}

.placeholder {
    display:flex;
    width:250px;
    height:250px;
    border-radius:8px;
    background-color:lightblue;
    
}

.placeholder:hover {
    width:280px;
    height:280px;
    transition-duration:.25s;

}

.placeholder > video {
    width:100%;
    height:100%;
    object-fit:cover;
    border-radius:8px;
    
    
}


/* testimony */

section:nth-child(3){
    margin-top:200px;
    margin-bottom:200px;
}

section:nth-child(3) > p:nth-child(1) {
    font-size:36px;
    text-align:left;
    margin-left:10%;
    margin-right:3%;
}

section:nth-child(3) > p:nth-child(2) {
    font-size:36px;
    
}

/* call to action */

section:nth-child(4) {
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    background-color:#3882F6;
    border-radius:8px;
    padding-top:20px;
    padding-bottom:20px;
    margin-bottom:100px;y



}

.call-to-action, .call-to-action > h3, .call-to-action > p {
    background-color:#3882F6;

}

section:nth-child(4) > button {
    padding-left:50px;
    padding-right:50px;
    height:50px;
    margin:auto 0;
}

/* footer */

footer {
    margin-top:30px;
    margin-bottom:30px;
    font-size:12px;
    text-align:center;

}




